*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
    font-family: Helvetica, sans-serif;
 /* Configuración tamaño + tipo de letra en index.html */
}



header > nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4F9E42;
    padding: 20px;
    font-size: 20px;
    font-style: none;
    font-display: none;
    height: 200px;

/* Ajustes de tamaño y color para la sección <nav> que pertenece al header */

}

h1{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    font-size: 30px;
    margin-top: 10px;
/* Aquï configuré el titulo del sitio web, centrado, y con margenes de respeto. */
    
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #C1F6D4;
/* Seteo de body y su tamaño para empatar con el footer utilizando min-height */
    

}

.enlaceheader{
    color: black;
}

/* Clase independiente que le puse a los links del header
para mantener el color negro en el menu, de lo contrario, 
se vería azul como en la clase "a{". */


a{
    font-size: 20px;
    display: flex;
    color: rgb(8, 8, 184);
    text-align: center;
}

/* Configuración de los enlaces de la caja del menú */




footer{
    display: flex;
    margin-top: auto;
    padding: 20px;
    color: black;
    text-align:center;
    margin-top:auto; 
    font-size:2rem;
    background-color: #4F9E42;

}

/* Ajustes de footer para empatar estéticamente con el header */

.menu_list{
    display: flex;
    list-style: none;
    gap: 20px;
}

/* Espacio entre enlaces del menú */

.logo{
    font-family: Helvetica, sans-serif;
    font-size: 30px; 
    display: flex;
    align-items: center;
    height: 3px;
    margin: 20px;
    justify-content: center;
    
}

/* ConfiguraciÓn del titulo de la pagina */

.libro{
    display:flex;
    align-items: end;
    justify-content: center;
    height: 80px;

}

/* ConfiguraciÓn del logo que es un librito */

div{
    display: flex;
    align-items: center;
}

/* Div muy generico, pero me sirivÓ para alinear el logo
con el titulo de la pagina */

.headermenu{
    height: 150px;
}

/* Me tocó utilizarlo para que el tamaño del header se viera proporcional */

main{
    display: flex;
    justify-content: start;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

/* Por inercia lo utilice para cuadrar las cajas */

p{
    font-family: Helvetica;
    font-size: 18px;
    display: flex;
}

/* Aqui aseguré que el texto se viera uniforme */

section{
    display: flex;
}

/* Por si las moscas */

footer{
    display: flex;
    justify-content: center;
}

/* Necesario para que el texto se viera centrado en el footer */




.inicio{
    background-color: #C1F6D4;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.logotucarro{
    width: 100px;
    height: 50px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.fotomenu{
    border-radius: 10px;
    transition: transform 5s ease, box-shadow 6s ease;
    width: 500px;
    height: 300px;
    object-fit: cover;
    transition: 5s;
}

.img:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
    transform: scale(1.1);
    box-shadow: 0 0 40px rgba(237, 237, 237, 0.826);
    filter: opacity(0.8);

}



h1{
    text-align: center;
    align-items: center;
    color: black;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 50px;
    img{
        width: 50px;
        height: 50px;
    }
}

.header{
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 30px;
}